{#{% trans_default_domain 'www' %}#}

{#
   @param Product product             - product entity
   @param int     productSellersCount - amount of sellers
   @param string  routeName           - route name
   @param array   routeParams         - route parameters
   @param bool    selectable          - render checkbox
#}

{# @var product \App\Entity\Product #}

{% set image = product.images|first %}
{% set selectable = selectable is defined ? selectable : false %}

{% set zones = [] %}
{% for zone in product.zones %}
    {# @var zone \App\Entity\Zone #}
    {% set zones = zones|merge([zone.id]) %}
    {% for parent in zone.parents %}
        {% set zones = zones|merge([parent.id]) %}
    {% endfor %}
{% endfor %}

{% set categories = [] %}
{% set categories = categories|merge([product.primaryCategory.id]) %}
{% for parent in product.primaryCategory.parents %}
    {% set categories = categories|merge([parent.id]) %}
{% endfor %}
{% for category in product.catalogs %}
    {# @var category \App\Entity\Catalog #}
    {% set categories = categories|merge([category.id]) %}
    {% for parent in category.parents %}
        {% set categories = categories|merge([parent.id]) %}
    {% endfor %}
{% endfor %}

<div
        class="product-card _extended"
{#{{ selectable ? 'is-selectable' }} js-product"#}
        {#data-zone="{{ zones|join(',') }}"#}
        {#data-category="{{ categories|join(',') }}"#}
        {#data-price="{{ (product.retailPrice|convert_money).amount }}"#}
>
    <header class="product-card__header">
        <a href="" class="product-card__name js-product-link">
            {{ product.properties.name.value }} / {{ product.properties.vendorCode.value }}
        </a>
        <div class="product-card__manufacturer">
            {{ product.properties.countryCode.value[0] }}
        </div>
        {#{% if selectable %}#}
        {#<div class="product-card__checkbox">#}
            {#<label class="checkbox">#}
                {#<input class="js-product-check" type="checkbox" name="sku" value="{{ product.sku }}"/>#}
                {#<span class="checkbox__label"></span>#}
            {#</label>#}
        {#</div>#}
        {#{% endif %}#}
    </header>

    <section class="product-card__image js-product-image" style="background-image: url({{ product.properties.imageUrls[0] }})"></section>

    <section class="product-card__info">
        <div class="product-card__specs">
            product-card__specs
            {#{{ include('www/product/includes/specification.html.twig') }}#}
        </div>
        <div class="product-card__bottom">
            <div class="product-card__price">
                {{ product.properties.price.value.value }} {{ product.properties.price.value.currency }}.
            </div>
            <div class="product-card__sellers">
                {# product-card__sellers #}
                {#{{ 'entity.product.sellers'|transchoice(attribute(productSellersCount, product.id)) }}#}
            </div>

            {% if product.quality is not empty and product.quality.segment is not empty %}
                <div class="product-card__segment">
                    {#<span>{{ 'entity.product.price_segment.title'|trans }}</span>#}
                    {#<strong class="highlight _green">{{ ('entity.product.price_segment.value.'~product.quality.segment.name)|trans|lower }}</strong>#}
                </div>
            {% endif %}

            <div class="product-card__actions">
                <span class="product-card__action">
                    <span class="symbol _compare">
                        {#{{ svg_icon('compare') }}#}
                    </span>
                </span>
                <span class="product-card__action">
                    {# product-card__action #}
                </span>
            </div>
        </div>
    </section>
</div>
