{% extends 'layouts/base.html.twig' %}
{% set route = app.request.attributes.get('_route') %}

{% block head %}
    {% if seo_enabled %}
        {# Google Tag Manager #}
        <script>(function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
              'gtm.start':
                  new Date().getTime(), event: 'gtm.js',
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', 'GTM-KLFX2WX');</script>
        {# End Google Tag Manager #}
    {% endif %}
    {#{% include 'www/alternative_href_langs.html.twig' %}#}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico', 'img') }}"/>#}
    <link rel="stylesheet" href="/css/main.a0314bc87c0da1db2eaf7c05832504fa.css"/>
    <link rel="stylesheet" href="/css/preloader.css"/>
{% endblock %}

{% block body %}
    {% if seo_enabled %}
        {# Google Tag Manager (noscript) #}
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLFX2WX"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    {% endif %}

    <div class="l-page-wrap wrapper js-page">
        {% block header %}
            <header class="l-page-header">
                {% include('@frontend/views/layouts/layout/header.html.twig') %}
                {#{{ render(controller(#}
                    {#'App\\Controller\\WWW\\LayoutController::headerAction', {#}
                        {#'route': route,#}
                        {#'template': 'default',#}
                    {#}#}
                {#)) }}#}
            </header>
        {% endblock %}

        <main class="l-page-main">
            <div class="l-page-content js-page-main">
                {% block page %}{% endblock %}
            </div>
        </main>

        <footer class="l-page-footer">
            {% include('@frontend/views/layouts/layout/footer.html.twig') %}
            {#{{ render(controller(#}
                {#'App\\Controller\\WWW\\LayoutController::footerAction',#}
                {#{ 'route': route }#}
            {#)) }}#}
        </footer>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/paginator.js"></script>
    <script src="js/catalog.js"></script>
    {#<script src="{{ asset('assets/www/js/vendor.js') }}"></script>#}
    {#<script src="{{ asset('assets/www/js/app.js') }}"></script>#}
{% endblock %}
