{#{% trans_default_domain 'www' %}#}

{#
    @param int                   nbResults           - products amount
    @param Product[]             products            - products entities
    @param ['product.id' => int] productSellersCount - amount of sellers
    @param string                routeName           - route name
    @param array                 routeParams         - route parameters
    @param int                   pageCount           - total number of pages
    @param int                   pageCurrent         - index of current page
#}

{% set validPage = pageCurrent is defined and pageCount is defined ? pageCurrent <= pageCount : true %}

{#{% if nbResults and validPage %}#}
    {% for product in products %}
        <div class="product-list__item">
            {{- include('@frontend/views/product/card-extended.html.twig') -}}
        </div>
    {% endfor %}
{#{% else %}#}
    {#<div class="product-list__empty">#}
        {#<div class="empty-list">#}
            {#{{ 'page.catalog.products.empty'|trans }}#}
        {#</div>#}
    {#</div>#}
{#{% endif %}#}
