{#{% trans_default_domain 'www' %}#}

{# @var app \Symfony\Bridge\Twig\AppVariable #}
{#{% set SORT_QUERY = constant('App\\Controller\\WWW\\SearchController::SORT_QUERY') %}#}

{#{% set twoWay = parameter.value is iterable %}#}
{#{% set isActive = twoWay ? activeSort in parameter.value : activeSort == parameter.value %}#}
{#{% set isDescending = twoWay ? isActive and activeSort == parameter.value.desc : false %}#}
{#{% set pathQuery = twoWay#}
    {#? isActive#}
        {#? isDescending ? parameter.value.asc : parameter.value.desc#}
        {#: parameter.default#}
    {#: parameter.value#}
{#%}#}

{#<a#}
    {#class="sorting-item {{ twoWay ? '_two-way' : '' }} {{ isActive ? 'is-active' : '' }} {{ isDescending ? 'is-reversed' : '' }}"#}
    {#href="{{ pageURL|add_query(SORT_QUERY, pathQuery) }}"#}
{#>#}
    <span class="sorting-item _two-way" data-sort-item="price" onclick="setSortMethod(this)">Цене</span>
{#</a>#}
