{% set isActive = filter.id in activeFilters|keys %}

<div class="filter">
    <div class="filter__header js-collapse-item open">
        <span class="filter__name">{{ filter.name }}</span>
        {#<span class="filter__icon">{{ svg_icon('arrow_right') }}</span>#}
    </div>

    <ul class="filter__parameters" data-filter-id="{{ filter.sysname }}">
        {% for value in filter.values %}
            {% set checked = isActive and value.id in activeFilters[filter.id]|split(',') %}
            {#{% set disabled = not checked and value.found == 0 %}#}

            <li class="filter__param-checkbox" data-filter-value-id="{{ value.value }}" onclick="filterClick(this)">
                <label class="checkbox js-catalog-filter-property {{ disabled ? 'is-disabled' }}">
                    <input
                            type="checkbox"
                            name="{{ filter.name }}"
                            value="{{ value.value }}"
                            data-type="unset"
                            {{ checked ? 'checked' }}
                            {{ disabled ? 'data-disabled=true' }}
                    />
                    <span class="checkbox__label">{{ value.label }}</span><span class="highlight _grey">&nbsp;({{ value.count }} шт.)&nbsp;</span>
                </label>
            </li>
        {% endfor %}
    </ul>
</div>
