{% extends "@frontend/views/layouts/layout.html.twig" %}

{% block page %}
f
    <div class="container">
        <div class="row">
            <div class="col-12">
                breadcrumbs
                {#{% set breadcrumbs = [{#}
                    {#name: 'routes.catalog.title'|trans,#}
                {#}] %}#}

                {#{% include('www/layout/breadcrumbs.html.twig') with { 'breadcrumbs': breadcrumbs } only %}#}
            </div>
        </div>
    </div>

    <div class="catalog container">
        <div class="row">
            <div class="col-3">
                <div class="catalog__menu js-collapse">
                    category
                    {% for category in categories %}
                        {% set children = category.children %}
                        <div class="catalog__menu-category">
                            <div class="catalog__menu-group-heading js-collapse-item open">
                                <span class="catalog__menu-collapse-text">{{ category.translation.name }}</span>
                                <i class="catalog__menu-collapse-icon">
                                  {#{{ svg_icon('arrow-up') }}#}
                                </i>
                            </div>
                            <ul class="catalog__menu-list">
                                {% for child in children %}
                                    {# @var child \App\Entity\Catalog #}
                                    <li class="catalog__menu-list-item">
                                        <a class="catalog__menu-list-link" href="{{ path('catalog_category', { 'code': child.code }) }}">{{ child.translation.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-9">
                <div class="catalog__tiles">
                    category
                    {% for category in categories %}
                        {% set children = category.children %}
                        <div class="catalog__tile">
                            <div class="catalog__tile-image">
                                {#<img src="{{ vich_uploader_asset(category, 'imageFile') }}" alt="" />#}
                            </div>
                            <h2 class="catalog__tile-heading">
                                <a href="{{ path('catalog_category', { 'code': category.code }) }}">{{ category.translation.name }}</a>
                            </h2>
                            <ul class="catalog__tile-list">
                                {% for child in children %}
                                    {# @var child \App\Entity\Catalog #}
                                    <li class="catalog__tile-list-item">
                                        <a class="catalog__tile-list-link" href="{{ path('catalog_category', { 'code': child.code }) }}">{{ child.translation.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
