{#{% trans_default_domain 'www' %}#}

{# Desktop header #}
<div class="header js-page-header">
    {# top bar #}
    <div class="header__settings-bar">
        <div class="l-container">
            <div class="header__settings-bar-inner">
                <div class="header__settings-bar-part">
                    {#<div class="header__settings-bar-item">#}
                        {#{{ include('www/layout/includes/location.html.twig') }}#}
                    {#</div>#}
                </div>

                <div class="header__settings-bar-part">
                    <div class="header__settings-bar-item">currency
                        {#{{ include('www/layout/includes/currency.html.twig') }}#}
                    </div>
                    <div class="header__settings-bar-item">language
                        {#{{ include('www/layout/includes/language.html.twig') }}#}
                    </div>
                    <div class="header__settings-bar-item _actions">favorites
                        {#<a class="header__link-icon" href="{{ path('www_profile_product_favorites') }}">#}
                            {#<span class="symbol _favorite js-header-favorites {{ hasFavorites ? 'is-active' }}">#}
                                {#{{ svg_icon('favorites') }}#}
                            {#</span>#}
                        {#</a>#}
                    </div>
                    <div class="header__settings-bar-item">auth_status
                        {#{{ include('www/layout/includes/auth_status.html.twig') }}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# /top bar #}

    {# main bar #}
    <div class="header__main">
        <div class="l-container">
            <div class="header__main-inner">
                <a href="/" class="header__logo">
                    <div class="logo">logo
                        {#{{ svg_icon('logo', 'logo__icon') }}#}
                    </div>
                </a>

                <div class="header__nav">
                    <nav class="zone-nav js-nav-catalog"
                         {#data-empty-text="{{ 'header.catalog_navigation.not_found'|trans }}"#}
                         >
                        {# @var zones \App\Entity\Zone #}
                        {#{% for zone in zones %}#}
                            {#{% set iconName = 'zone_'~zone.icon %}#}
                            {#<div class="zone-nav__item js-nav-catalog-item">#}
                                {#<span class="zone-nav__section">#}
                                    {#{{ svg_icon(iconName, 'zone-nav__section-icon') }}#}
                                    {#<span class="zone-nav__section-text">{{ zone.translation.name }}</span>#}
                                {#</span>#}

                                {#<div class="zone-nav__menu js-nav-catalog-menu">#}
                                    {#<div class="zone-nav__menu-page">#}
                                        {#<div class="l-container">#}
                                            {#<div class="zone-nav__menu-header">#}
                                                {#{{ 'header.catalog_navigation.heading'|trans }}#}
                                            {#</div>#}
                                            {#<ul class="zone-nav__menu-list">#}
                                                {#{% for child in zone.children %}#}
                                                    {# @var child \App\Entity\Zone #}
                                                    {#<li class="zone-nav__menu-elem js-nav-catalog-zone-item" data-zone-id="{{ child.id }}" data-zone-slug="{{ child.slug }}" data-zone-name="{{ child.translation.name }}">#}
                                                        {#<div class="zone-nav__menu-elem-image" style="background-image: url({{ vich_uploader_asset(child, 'imageFile') }})"></div>#}
                                                        {#<div class="zone-nav__menu-elem-name">{{ child.translation.name }}</div>#}
                                                    {#</li>#}
                                                {#{% endfor %}#}
                                            {#</ul>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endfor %}#}
                    </nav>
                </div>

                <div class="header__menu-toggle">
                    <button class="menu-toggle js-nav-toggle">
                        {# hamburger #}
                        {#{{ include('www/layout/includes/hamburger.html.twig') }}#}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {# /main bar #}

    {# pages navigation #}
    <nav class="header__pages-nav js-nav-menu">
        {#<a href="{{ path('articles') }}" class="header__pages-nav-item">{{ 'menu.publications'|trans }}</a>#}
        {#<a href="{{ path('news') }}" class="header__pages-nav-item">{{ 'menu.news'|trans }}</a>#}
        {#<a href="{{ path('about') }}" class="header__pages-nav-item">{{ 'menu.about'|trans }}</a>#}
        {#<a href="{{ path('partnership') }}" class="header__pages-nav-item">{{ 'menu.partnership'|trans }}</a>#}
    </nav>
    {# /pages navigation #}
</div>
{# /Desktop header #}


{# Mobile header #}
<div class="header-mobile">
    {# main bar #}
    <div class="header-mobile__main">
        <a href="/" class="header-mobile__logo">
            <div class="logo">logo
                {#{{ svg_icon('logo', 'logo__icon') }}#}
            </div>
        </a>

        <div class="header-mobile__main-center">auth_status_mobile
            {#{{ include('www/layout/includes/auth_status_mobile.html.twig') }}#}
        </div>

        <button class="header-mobile__menu js-nav-toggle">hamburger
            {#{{ include('www/layout/includes/hamburger.html.twig') }}#}
        </button>
    </div>
    {# / main bar #}

    {# catalog navigation #}
    <nav class="header-mobile__nav-catalog">
        <div class="zone-nav-mobile js-nav-catalog-mobile"
             {#data-empty-text="{{ 'header.catalog_navigation.not_found'|trans }}"#}
        >
            <div class="zone-nav-mobile__inner">
                {# @var zones \App\Entity\Zone #}
                {#{% for zone in zones %}#}
                    {#<span class="zone-nav-mobile__item js-nav-catalog-item">#}
                        {#<span class="zone-nav-mobile__item-name">{{ zone.translation.name }}</span>#}
                        {#<div class="zone-nav-mobile__menu js-nav-catalog-menu">#}
                            {#<div class="l-container">#}
                                {#<ul class="zone-nav-mobile__menu-list">#}
                                    {#{% for child in zone.children %}#}
                                        {# @var child \App\Entity\Zone #}
                                        {#<li class="zone-nav-mobile__menu-elem js-nav-catalog-zone-item" data-zone-id="{{ child.id }}" data-zone-name="{{ child.translation.name }}" data-zone-slug="{{ child.slug }}">#}
                                            {#<div class="zone-nav-mobile__menu-elem-name">{{ child.translation.name }}</div>#}
                                        {#</li>#}
                                    {#{% endfor %}#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</span>#}
                {#{% endfor %}#}
            </div>
        </div>
    </nav>
    {# / catalog navigation #}

    {# delimeter #}
    <div class="l-container">
        <div class="header-mobile__delimeter"></div>
    </div>
    {# / delimeter #}

    {# pages navigation #}
    <nav class="header-mobile__nav-sections">
        <div class="l-container">
            {#<a href="{{ path('articles') }}" class="header-mobile__nav-sections-item">{{ 'menu.publications'|trans }}</a>#}
            {#<a href="{{ path('news') }}" class="header-mobile__nav-sections-item">{{ 'menu.news'|trans }}</a>#}
            {#<a href="{{ path('about') }}" class="header-mobile__nav-sections-item">{{ 'menu.about'|trans }}</a>#}
            {#<a href="{{ path('partnership') }}" class="header-mobile__nav-sections-item">{{ 'menu.partnership'|trans }}</a>#}
        </div>
    </nav>
    {# / pages navigation #}
</div>
{# / Mobile header #}

{#{% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}#}
    {#{{ render(controller('App\\Controller\\WWW\\SecurityController::loginAction', {'modal': true})) }}#}
{#{% endif %}#}
