{#{% trans_default_domain 'www' %}#}

{#
   @param string      pageURL     - url address of next page
   @param Pagerfanta  paginator   - Pagerfanta object
   @param string      class       - additional container classes
#}

{#{% set PAGE_QUERY = constant('App\\Controller\\WWW\\SearchController::PAGE_QUERY') %}#}

{#{% set pageCount = paginator.nbPages %}#}
{#{% set pageCurrent = paginator.currentPage %}#}

{#{% set isFirstPage = 1 == pageCurrent %}#}
{#{% set isLastPage = pageCount == pageCurrent %}#}






{# {% if pager.pageCount > 1 %}
    {% set pages = pager.pageCount %}
    {% set page = pager.page %}
    {% set min = max(pager.page - 2, 1) %}
    {% if(pages - page - 2 > 0) %}
        {% set max = page + 3 %}
    {% else %}
        {% set max = page + 1 %}
    {% endif %}
    {% if(min - 3 > 0) %}
        {% set premax = 3 %}
    {% else %}
        {% set premax = min %}
    {% endif %}
    {% if(pages - max > 0) %}
        {% set postmin = pages - 1 %}
    {% else %}
        {% set postmin = max %}
    {% endif %}
    {% set postmax = pages + 1 %}
    {% set prev = page - 1 %}
    {% set next = page + 1 %}
<div class="paginator {{ class is defined and class is not empty ? class }}">
    <a data-page="{{ prev }}"
            href=""
       class="paginator__button _arrow _prev js-paginator-page-link {{ prev <= 0 ? 'is-disabled' }}">Назад</a>

    <span class="paginator__center">
        {% if(min != 1) %}
            {% for pageCurrent in 1..premax %}
                <a data-page="{{ pageCurrent }}"
                   href=""
                   class="paginator__button _page js-paginator-page-link {{ page == pageCurrent ? 'is-active'}}">{{ pageCurrent }}</a>
            {% endfor %}
        {% endif %}
        {% if(premax != min) %}
            <span class="paginator__placeholder">...</span>
        {% endif %}
        {% for pageCurrent in min..max %}
            <a data-page="{{ pageCurrent }}"
               href=""
               class="paginator__button _page js-paginator-page-link {{ page == pageCurrent ? 'is-active'}}">{{ pageCurrent }}</a>
        {% endfor %}
        {% if(postmin != max) %}
            <span class="paginator__placeholder">...</span>
        {% endif %}
        {% if(max != postmax) %}
            {% for pageCurrent in postmin..postmax %}
                <a data-page="{{ pageCurrent }}"
                   href=""
                   class="paginator__button _page js-paginator-page-link {{ page == pageCurrent ? 'is-active'}}">{{ pageCurrent }}</a>
            {% endfor %}
        {% endif %}
    </span>

    <a data-page="{{ next }}"
            href=""
       class="paginator__button _arrow _next js-paginator-page-link {{ next > pages ? 'is-disabled' }}">Вперед</a>
</div>

{% endif %} #}

<div  class="paginator {{ class is defined and class is not empty ? class }}" id="pagination" data-page-current="{{ pager.page }}" data-page-count="{{ pager.pageCount }}"></div>